<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReciLive</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/logo/favicon-96x96.png">
    <!-- Our CSS -->
    <link href="/static/css/error.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1><%= message %></h1>
</body>
</html>
